[submodule "Cinder"]
	path = Cinder
	url = git@github.com:cinder/Cinder.git
	branch = master
[submodule "Cinder-poScene"]
	path = Blocks/Cinder-poScene
	url = https://github.com/Potion/Cinder-poScene.git
	branch = develop
